Repository renoangelobanderlipe/portify, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, devops, docs

docs: add initial docs
  README.md
Labels: devops, docs

chore: Setup folder structures
  .gitignore
  app/(auth)/.gitkeep
  app/(root)/layout.tsx
  app/(root)/page.tsx
  app/admin/.gitkeep
  components/shared/theme-provider.tsx
  features/.gitkeep
  lib/.gitkeep
  stores/.gitkeep
  styles/globals.css
  types/.gitkeep
  utils/.gitkeep
Labels: frontend, devops

feat: Login page
  app/(auth)/.gitkeep
  app/(auth)/login/components/LoginForm.tsx
  app/(auth)/login/page.tsx
  app/(auth)/login/useHooks.ts
  app/layout.tsx
  app/page.tsx
  components/shared/theme-provider.tsx
  components/ui/alert.tsx
  components/ui/card.tsx
  components/ui/field.tsx
  components/ui/input.tsx
  components/ui/label.tsx
  components/ui/separator.tsx
  features/auth/dtos/loginDTO.ts
  features/auth/hooks/useLogin.ts
  features/auth/services/login.service.ts
  lib/axios.ts
  package.json
  pnpm-lock.yaml
Labels: frontend, devops

chore: fix lint
  app/layout.tsx
  components/ui/field.tsx
Labels: frontend, devops

chore: remove placeholder
  app/(auth)/login/components/LoginForm.tsx
Labels: frontend

chore: resolve biome error
  .github/workflows/linting.yml
  package.json
  pnpm-lock.yaml
Labels: devops

chore: fix build problem
  package.json
  pnpm-lock.yaml
Labels: devops

chore: fix CI build
  .github/workflows/ci.yml
Labels: devops

feat: Signup Page
  app/(auth)/login/components/LoginForm.tsx
  app/(auth)/signup/components/signup-form.tsx
  app/(auth)/signup/page.tsx
  app/(auth)/signup/useHooks.ts
  features/auth/dtos/signupDTO.ts
  features/auth/hooks/useSignup.ts
  features/auth/services/signup.service.ts
Labels: frontend, devops

chore: fix linting error
  app/(auth)/signup/components/signup-form.tsx
  app/(auth)/signup/useHooks.ts
  biome.json
  features/auth/dtos/signupDTO.ts
  features/auth/hooks/useSignup.ts
  features/auth/services/signup.service.ts
Labels: frontend, devops

feat: Forgot Password PAge
  app/(auth)/forgot-password/components/ForgotPasswordForm.tsx
  app/(auth)/forgot-password/page.tsx
  app/(auth)/forgot-password/useHooks.ts
  features/auth/dtos/forgotPasswordDTO.ts
  features/auth/hooks/useForgotPassword.ts
  features/auth/services/forgotPassword.service.ts
Labels: frontend, devops

chore: fix lint errors
  app/(auth)/forgot-password/components/ForgotPasswordForm.tsx
  app/(auth)/forgot-password/page.tsx
  app/(auth)/forgot-password/useHooks.ts
  features/auth/dtos/forgotPasswordDTO.ts
  features/auth/hooks/useForgotPassword.ts
  features/auth/services/forgotPassword.service.ts
Labels: frontend, devops

feat: Forgot Password PAge (#7)
  app/(auth)/forgot-password/components/ForgotPasswordForm.tsx
  app/(auth)/forgot-password/page.tsx
  app/(auth)/forgot-password/useHooks.ts
  features/auth/dtos/forgotPasswordDTO.ts
  features/auth/hooks/useForgotPassword.ts
  features/auth/services/forgotPassword.service.ts
Labels: frontend, devops

.github/labeler.yml:

frontend:
  - "app/**"
  - "components/**"
  - "lib/**"
  - "public/**"

devops:
  - ".github/**"
  - "pnpm-lock.yaml"
  - "!app/**"

docs:
  - "docs/**"
  - "**/*.md"
